h1{
    font-size: 50px;
    line-height: 1;
    padding: 50px 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }

h2{
    font-size: 32px;
    line-height: 1.5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  img {
    border-radius: 8px;
  }

nav {
    background-color: #61aa62;
    overflow: hidden;
    padding-right:20px;
}

nav li {
    display: inline;
    padding-right:20px;
    font-size: 30px;

  }

nav a:link {
    text-decoration: none;
}

nav a:visited {
    color: #3a3c34;
}

nav a:hover, a:focus{
    text-decoration: underline;
  }

@media only screen and (max-width: 600px) {
    nav ul {
        display: flex;
        flex-direction: column; 
    }
}


.skip a{
    position: absolute;
    top: -40px;
    left: 0;
    padding: 10px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

.skip a:focus {
    top:0;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #61AA62;
    padding: 10px;
    gap: 10px;
  }

.container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

.grid-item {
    background-color: #D3DED0;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }


nav{
    text-align: right;
    padding: 30px 0px 30px 0px;
  }


@media (prefers-reduced-motion: reduce) {
    .gif-element {
        background-image: url('images/travel/yellowstone_cauldron.gif');
        animation: none !important;
        transition: none !important; 
    }
}

@media screen and (min-width: 900px){ 

    nav{
      text-align: left;
      padding: 30px 0px 30px 0px;
    }

    .container {
      display: grid;
      grid-template-columns: auto auto auto auto;
    }

    .about, .clients, .method-image, .contact-image{
      grid-column: 3 / span 2;
    }
    .method, .contact, .about-image, .clients-image{
      grid-column: 2 / span 2;
    }

   .text-block{
    max-height: 250px;
    overflow: hidden;
  }
  }
